<h1><%= @task.id %>の編集ページ</h1>

<%= form_for(@task) do |f| %>
  
  <!--<div class= "field">-->
  <div>
    <%= f.label :content, 'タスク' %>
    <%= f.text_field :content %>
  </div>
  
  <!--<div class= "action">-->
  <div>
    <%= f.submit '編集完了' %>
  </div>
<% end %>

<%= link_to 'タスク一覧に戻る', tasks_path %>